* {
  margin: 0;
}

.title {
  color: brown;
  text-align: center;
}

.bob-the-player,
.bob-the-monster {
  height: 400px;
  width: 300px;
  box-shadow: cadetblue 10px 10px 10px 10px;
  margin: 100px;
}

.bob-the-builder {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img {
  height: 200px;
  width: 200px;
}

.imposta {
  transform: scaleX(-1);
}
